@font-face {
  font-family: "Oxanium";
  src: url("./assets/fonts/oxanium/Oxanium.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "SourceCodePro";
  font-weight: 400;
  src: url("./assets/fonts/sourcecodepro/SourceCodePro.ttf") format("truetype");
  font-style: normal;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  min-height: 200vh;
}
:root{
  --main-color:#240f52;
  --secondary-color:#0c0f18;
  --main-light-color:#816b9a;
}

.header{
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  background-color: transparent;
  transition: background-color 0.4s;
  overflow: hidden;
}



.header-cont{
  z-index: 19;
  display: flex;
  padding: 1rem 2.5rem;
  justify-content: space-evenly;
  align-items: center;
  
  color: #fff;
}
.header-heading{
  flex:1;
  font-family: "Oxanium";
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.13rem;
}



.nav-menu{
  flex: 2;
}
.nav-menu-list{

  font-family:"SourceCodePro";
  font-weight: 600;
  list-style: none;
  display: flex;
  justify-content: space-around;
}




.ripple-navbtn{
  background-position: center;
  transition: background 0.8s;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  font-family: "SourceCodePro";
  padding: 12px 18px;
  font-size: 1.15rem;
  text-transform: capitalize;
  color: white;
  background-color:transparent;
  outline: none;
}

.ripple-navbtn:hover{
  background: transparent radial-gradient(circle, transparent 1%, transparent 1%) center/15000%;
 
}
.ripple-navbtn:active{
  background-color:  rgba(255, 255, 255,0.3);
  background-size: 100%;
  transition: background 0s;
}


.hero-container{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/images/hero-raven.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}
.hero-content{
  padding-top: 18%;
  padding-left: 15%;
  width: 100%;
  color: #fff;
  font-family: "SourceCodePro";
 
}

.hero-content-first{
  border-right: 2px solid rgba(255,255,255,.75);
  text-align: left;
  overflow: hidden;
  width:fit-content;
  white-space: nowrap;
  transform: translateY(-50%);
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
            

}

.hero-content-first h1{
  padding-bottom: 0.7rem;
  font-size: 2rem;
  text-shadow: 0px 2px 2px rgba(255,255,255,.75);
}

.hero-content-second{
  border-right: none;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  transform: translateY(-50%);
  animation: typewriter 4s steps(44) 5s 1 normal both,
             blinkTextCursorEnd 500ms steps(44) infinite normal;
            
}
/*
tiebe un seg de delay

@keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */

@keyframes typewriter{
  from{width: 0%;}
  to{
    width: 60%;
    border: none;
  }
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
@keyframes blinkTextCursorEnd{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color:2px solid rgba(255,255,255,.75);}
}


.whatsapp-btn{
  display: block;
  opacity: 0;
  background-color: var(--secondary-color);
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  font-family: "SourceCodePro";
  font-weight: 500;
  padding: 1rem 1.5rem;
  color: #fff;
  animation: fadeInButton 0.4s steps(44) 5s 1 normal both;
}

@keyframes fadeInButton {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}




.header-scrolled{
  background-color: var(--secondary-color);
  box-shadow: 2px 0px 10px rgba(255, 255, 255, 0.45);
  
}

.aboutMe-cont{
  background-color: var(--secondary-color);
  min-height: 80vh;
  font-family: "SourceCodePro";
  color: #fff;
  padding: 5% 10%;
}

.aboutMe-cont p{
  text-align: center;
  margin-bottom: 2rem;
  word-wrap: break-word;
  font-size: larger;
  padding: 0 10%;
}

.myStack-list{
  list-style: none;
  display: grid;
  grid-template-columns: 2(1fr);
  grid-template-rows: 2(1fr);
  grid-row-gap: 2rem;
}

.myStack-list li{
  display: flex;
}


.stack-li{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: stretch;
}


.modal-cont{
  position: relative;
}

.mobile-modal-box{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -10;
  transform: translateX(-100%);
  transition: transform ease-in-out 0.35s;
  overflow: hidden;
}



.mobile-modal-box-active{
 transform: translateX(0);
}

.mobile-modal-menu{
  width: 50vw;
  height: 100vh;
  background-color: var(--secondary-color);
  display: inline-block;
  
  
}


